.license {
  font-size: 80%;
  margin-top: 40px;
  width: auto;
  color: black;
}

.license-btn {
  margin-top: 30px;
  margin-bottom: 3em;
  width: auto;
}

.logo-img {
  max-width: 100%;
}

.logo-well {
  width: 10em;
  margin-left: 1em;
  -webkit-animation: colorpulse 20s infinite;
  animation: colorpulse 20s infinite;
  -moz-animation: colorpulse 20s infinite;
}
