.admin-nav-item {
  margin-bottom: 5px;
}

.stats-icon {
  margin-left: 0.3em;
}

.change-password {
  width: 150px;
}

.change-password-btn {
  margin-top: 15px;
}

.password-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hidden-metadata {
  display: none;
}

.api-quota {
  display: inline;
}

.users-heading {
  display: inline-block;
  margin-bottom: 0.9em;
  margin-right: 0.5em;
}

input.api-quota {
  display: inline;
  width: 9em;
  font-size: 0.85em;
  height: auto;
  padding-left: 0.8em;
}

.wrap-text {
  word-wrap: break-word;
}

@media (min-width: 700px) {
  table {
    table-layout: fixed;
  }
}

a.new-user-add {
  margin-left: 0.5em;
}

.edit-long-link-btn {
  opacity: 0.45;
}

.tab-content {
  background: white;
  padding: 1em;
  border: 1px solid #ddd;
  border-top: none;
}
