body {
  font-family: ubunturegular, sans-serif;
  background: url(../img/fond.jpg) no-repeat 0 134px;
  background-size: cover;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: geomanistmedium, sans-serif;
  color: #5a696b;
}
h1 {
  text-transform: uppercase;
}
h2 {
  color: #64d29b;
}
a {
  transition: color 0.3s ease-out, background 0.3s ease-in;
  color: #35b575;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #35b575;
  text-decoration: underline;
}

hr {
  border-color: #5a696baa;
}

#archipel a:hover {
  text-decoration: none;
  color: #35b575;
}

#archipel {
  background: #5a696b;
}

#colibris-menu {
  height: 23px;
  background: #5a696b;
}
.container .jumbotron,
.container-fluid .jumbotron,
.content-div {
  padding: 2em;
  margin: 5em auto 1em auto;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 1em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  font-size: 18px;
}

.jumbotron .h1,
.jumbotron h1,
.content-div h1 {
  margin-top: 0;
  font-size: 2.5em;
  color: #333;
}

.main {
  min-height: calc(100vh - 180px);
}

.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #64d29bcc;
  border-color: #64d29bcc;
}
.navbar-default {
  font-family: geomanistmedium;
  margin-bottom: 0;
  background-color: white;
  border-color: white;
}
.navbar-brand {
  padding: 2.75em 1em;
}
.navbar-brand .logo {
  width: 380px;
  height: auto;
  margin-top: -26px;
}

.navbar-default .navbar-nav a,
.navbar-default .navbar-nav > li > a {
  color: #5b6a6c;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  font-size: 1em;
  padding: 2.75em 1em;
}

.navbar-default .navbar-nav a:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #64d29b;
  background-color: transparent;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fff;
}

.btn-donate {
  margin-top: 40px;
  border-radius: 3px;
}
.login-dropdown-menu {
  padding: 15px;
  padding-bottom: 0px;
}

.login-form-field {
  margin-bottom: 15px;
}

.login-form-submit {
  clear: left;
  width: 100%;
  margin-bottom: 15px;
}

.content-div {
  text-align: left;
}

.large-content-div {
  text-align: center;
}

.login-name {
  padding-right: 10px;
}

.center-text {
  text-align: center;
}

.error-alert {
  text-align: left;
}

.login-submit,
.signup-submit,
.btn-primary {
  text-transform: uppercase;
}
.a-propos {
  float: left;
  margin-bottom: 1em;
  margin-left: 1em;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto,
    "Segoe UI", Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  border-radius: 3px;
}
.photo-credit {
  float: right;
  margin-bottom: 1em;
  margin-right: 1em;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto,
    "Segoe UI", Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  border-radius: 3px;
}

.content-small {
  max-width: 30em;
}

.cas-login {
  background: url(../img/logo-Colibris.png) no-repeat left center;
  background-size: 20px auto;
  padding-left: 23px !important;
}
.cas-login:hover {
  color: #b9cd00 !important;
}
.tab-content h3 {
  margin-top: 0;
}
.dataTables_wrapper,
.table {
  font-size: 13px;
}

.dl-horizontal dt {
  width: 165px;
}

@media (max-width: 550px) {
  .jumbotron .h1,
  .jumbotron h1,
  .content-div h1 {
    font-size: 1.8em;
  }
}

@media (max-width: 767px) {
  body {
    background: url(../img/fond.jpg) no-repeat 0 152px;
  }
  #colibris-menu {
    height: 40px;
  }
  .navbar-toggle {
    margin-top: 40px;
  }
  .main {
    height: calc(100vh - 152px);
    display: block;
  }
  .jumbotron,
  .content-div {
    margin: 1em auto !important;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 1em;
    text-align: center;
  }
}

@media (max-width: 920px) {
  .navbar-brand .logo {
    width: 280px;
    height: auto;
    margin-top: -22px;
  }
}
@media (max-width: 800px) {
  .faire-un {
    display: none;
  }
  .don {
    text-transform: capitalize;
  }
}
@media (max-width: 510px) {
  .navbar-brand .logo {
    width: 220px;
    height: auto;
    margin-top: -1em;
  }
  .jumbotron .h1,
  .jumbotron h1,
  .content-div h1 {
    font-size: 1.4em;
  }
}
@media (max-width: 400px) {
  .don {
    display: none;
  }
  .navbar-brand {
    padding-left: 0.5em;
    padding-right: 0;
  }
  .navbar-toggle {
    margin-right: 0.5em;
  }
}
