.custom-url-field {
  display: inline-block;
  margin-top: -2px;
  width: 100px;
}

.site-url-field {
  color: #333;
  display: inline-block;
  margin-bottom: 0;
  margin: 0;
}

.long-link-input {
  margin-bottom: 2em;
}

.tips {
  margin-top: 5em;
}

.check-btn {
  margin-bottom: 1em;
}

#link-availability-status {
  margin-bottom: 1em;
}

.visibility-toggler {
  margin-bottom: 2em;
}

#show-link-options {
  margin-top: 1em;
  display: block;
  color: #333;
  font-size: 1.3em;
  font-family: "geomanistbook", sans-serif;
}

.custom-link-text {
  display: flex;
  align-content: center;
  align-items: center;
  width: 225px;
  margin: 1em auto;
}

@media (max-width: 446px) {
  #show-link-options {
    font-size: 1em;
  }
}
